/// @access public
/// @author @Agustín Jiménez Polonio

/// Mixin para resetear los márgenes a 0
@mixin reset() {
    p,h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
}

/// Mixin para centrar un elemento y darle un tamaño máximo
/// @parameter {integer} $topMargin -- Margen Superior
/// @parameter {integer} $bottomMargin -- Margen Inferior
/// @parameter {integer} $size -- Tamaño del elmento
@mixin centrado($topMargin, $bottomMargin, $size) {  
    margin-top: $topMargin;
    margin-bottom: $bottomMargin;
    max-width: $size;
}

